- @groups.each do |group|
  %li.chat__side_bar__groups__group
    = link_to group_path(group.id) do
      %p.chat__side_bar__groups__group_name  
        = group.name
      %p.chat__side_bar__groups__group_message 最新メッセージ
      